<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="interval" value="250" />
    <add key="exposure" value="0" />
    <add key="main_cascade" value="D:\dev\vs\GFace\GFace-POC.1.00\GFace\GFace\assets\cascades\haarcascade_frontalface_default.xml" />
    <add key="api_key" value="a244e14ca18e4066bdaf2ac443284c3e" />
    <add key="api_url" value="https://westcentralus.api.cognitive.microsoft.com/face/v1.0" />
    <add key="api_person_group" value="sv" />
    <add key="local_storage" value="D:\gface\captures" />
    <add key="api_identify_confidence" value="0.6"/>
    
  </appSettings>
</configuration>